.thumbnails {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 10;
    gap:5px;
    top: 550px;

}

.thumbnails img {
    width: 20vw;
    max-width: 150px;
    min-width: 100px;
    cursor: pointer;
}

.bigDisplay {
    height: 100vh;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: black;
}

.bigDisplay img {
    width: 100%;
    height: 100vh;
    object-fit: contain;
    max-height: 100vh;
}




@media (min-width: 750px) {
    .thumbnails {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    z-index: 10;
    gap:5px;
    top: 50px;
}

.thumbnails img {
    width: 20vw;
    max-width: 150px;
    min-width: 100px;
    cursor: pointer;
}
    
}