.thumbnails {
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 10;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    
}

.thumbnails img {
    width: 20vw;
    max-width: 80px;
    min-width: 40px;
    cursor: pointer;
}

.bigDisplay {
    height: 100vh;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: black;
}

.bigDisplay img {
    width: 100%;
    height: 100vh;
    object-fit: contain;
    max-height: 100vh;
}