.thumbnails {
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bigDisplay {
    height: 100vh;
    width: 100vw;
    display:flex;
    justify-content: center;
}